body {
font-family: Roboto, sans-serif;
}

.page-header {

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--black-text);
  background-color: var(--white-text);

}

.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

color: var(--black-text-logo);
}

.logo >span {
  color: var(--blue-text);
}

.site-nav {
color: var(--black-text);

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav:hover,
.site-nav:focus {
color: var(--blue-text);
}

.contact {
 color: var(--gray-text);
}

.contact:hover,
.contact:focus {
  color: var(--blue-text);
}

.hero {
background-color: var(--background);

width:1600px; 
height: 600px;

}

.hero-title {

color: var(--white-text);

font-size: 44px;
line-height: 1.36;
}

.hero-btn {
  color: var(--white-text);
  background-color: var(--blue-text);

  font-size: 16px;
  font-style: normal;
}

.featur {
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.featur-titile {
color: var(--black-text);
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.featur-text {
  color: var(--gray-text);
  font-weight: normal;
 font-size: 14px;
line-height: 1.7;

letter-spacing: 0.03em;
}

.work-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--black-text);
}

.team {
  background-color: var(--background-team);
}

.team-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: var(--black-text);
}

.team-position {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: var(--gray-text);
}

.footer {
  background-color: var(--background);
  width: 1600px;
  height: 252px;
}

.footer-contact {
  color: var(--white-text);
  font-size: 14px;
}

.button {
  background-color: var(--background-team);
  color: var(--black-text);
}

.button-button:hover,
.button-button:focus  {
  background-color: var(--blue-text);
  color: var(--white-text);
}

.card {
  background-color: var(--background-card);
}

.card-title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;

color: var(--black-text);
}

.card-project {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;

color: var(--gray-text);
}