body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  border: 1px solid red;
}

/* Шапка сайта */

.page-header {
  display: flex;
  font-style: normal;
  font-weight: 500;

  color: var(--black-text);
  background-color: var(--white-text);
}

.page-header .container {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text-logo);
}

.logo span {
  color: var(--blue-text);
}

.header-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.list .list-item + .list-item {
  margin-left: 50px;
}

.site-nav .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.site-nav .link {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-text);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* .site-nav li {
  margin-right: 50px;
} */

/* .site-nav li:last-child {
  margin-right: 0;
} */

.site-nav .link.current {
  color: var(--blue-text);
}

.contact {
  color: var(--gray-text);
}

.contact:hover,
.contact:focus {
  color: var(--blue-text);
}

/* Герой */
.hero {
  background-color: var(--background);
  text-align: center;
}

.hero-title {
  color: var(--white-text);

  font-size: 44px;
  line-height: 1.36;
  margin-top: 0;
  margin-bottom: 45px;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;

  color: var(--white-text);
  background-color: var(--blue-text);
  font-size: 16px;
  line-height: 1.8;
  font-style: normal;
  text-align: center;
}

/* Преймущества */

.featur {
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.featur-titile {
  margin-top: 0;
  margin-bottom: 10px;
}

.featur-text {
  color: var(--gray-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Примеры работ */

.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black-text);
  margin-bottom: 50px;
}

/* Команда */
.team {
  background-color: var(--background-team);
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black-text);
}

.team-position {
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--gray-text);
}

/* Футел */
.footer {
  background-color: var(--background);
  width: 1600px;
  height: 252px;
}

.footer-logo {
  color: var(--white-text);

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.footer-logo span {
  color: var(--blue-text);
}

.footer-contact {
  color: var(--white-text);
  font-size: 14px;
}

/* Проэкты портфолио */

.button {
  background-color: var(--background-team);
  color: var(--black-text);
}

.button-button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
}

.button-button:hover,
.button-button:focus {
  background-color: var(--blue-text);
  color: var(--white-text);
}

.pointer {
  cursor: pointer;
}

.card {
  background-color: var(--background-card);
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--black-text);
}

.card-project {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: var(--gray-text);
}
